header {
font-weight: normal;
color: white;
text-align: center;
}

h1 {
    font-size: 50px;
}
 
h2 {
    font-size: 42px;
    font-weight: 300;
}

body{
    background-color: black;
    color: white;
}

a{
    color:aquamarine;
    font-size: 16px;
}

.section-2{
    text-align: center;
}

.section-2 p {
    color:gray;
    font-size: 22px;
}

.icon-text{
     text-align: right;       /* center the text + icon */
    
    font-size: 22px;          /* size of the text */
    color:gray; 
}

.image-container {
    text-align: center; /* Centers inline/inline-block elements */
}

.video-container {
    display: flex;
    justify-content: center;  /* Horizontal center */
    align-items: center;      /* Vertical center */
    height: 100vh;            /* Full viewport height */
}